extends ../layout

block content
	.row
		.fotoTopo
	.row
		.container.well
			form.form-horizontal(action='/noticia/file', method='post', enctype='multipart/form-data')
				legend.text-center Cadastrar Notícias
				.row.goBack
					a.btn.btn-sm.btn-gran.btn-primary.pull-right(href="#", onclick='goBack()') 
						i.fa.fa-reply &nbsp Voltar

				.form-group
					label.col-md-2.control-label(for='inputData') Data
					.col-md-3
						input#inputData.form-control(type='date', name='data', required)

				.form-group
					label.col-md-2.control-label(for='inputTitulo') Título
					.col-md-10
						input#inputTitulo.form-control(type='text', name='titulo')

				//- .form-group
				//- 	label.col-md-2.control-label(for='inputUrlAmigavel') Url Amigavel
				//- 	.col-md-10
				//- 		input#inputUrlAmigavel.form-control(type='text', name='urlAmigavel', placeholder='Não utilize caracteres especiais Ex: (,)(´)(;)(^)')

				.form-group
					label.col-md-2.control-label(for='textArea') Descrição
					.col-md-10
						textarea#textarea.form-control(rows='5', name='descricao')

				.form-group
					label.col-md-2.col-xs-2.control-label Foto
					.col-md-10.col-xs-4
						input(name='anexo', type='file')
				button.btn.btn-gran.btn-primary.pull-right(type='submit') Cadastrar
	.container
		.row
			a.btn.btn-sm.btn-gran.voltar.pull-right(href="#", onclick='goBack()') 
				i.fa.fa-reply &nbsp Voltar

	script.
		function goBack() {
			window.history.back();
		}
